<nz-table
  nzShowSizeChanger
  [nzData]="listOfRoles"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="id" [nzSortFn]="true">ID</th>
      <th nzColumnKey="name" [nzFilters]="filterName" [nzFilterFn]="true">
        Name
      </th>
      <th nzColumnKey="createdAt" [nzSortFn]="true">Created At</th>
      <th nzColumnKey="updatedAt" [nzSortFn]="true">Updated At</th>
    </tr>
  </thead>
  <tbody>
    @for (data of listOfRoles; track data.uuid) {
    <tr>
      <td>{{ data.uuid }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.createdAt }}</td>
      <td>{{ data.updatedAt }}</td>
    </tr>
    }
  </tbody>
</nz-table>
